/* Basics */

html {
    background-color: #fdfdfd;
}

body {
    /* Debug lines for vertical spacing */
    background: repeating-linear-gradient(#bbb 0, transparent .03rem, transparent 0.47rem, #eee .5rem, transparent .53rem, transparent .97rem, #bbb 1rem);
}

main {
    max-width: 60ch;
    margin: 0 auto;
    padding: 4rem 1rem;
}

/* Add entry form */

form input {
    width: 100%;
    height: calc(3rem);
    padding: 0 1rem;
    margin-bottom: 2rem;
}

/* Entries */

.entries-container {
    position: relative;
}

.entry {
    display: flex;
    position: absolute;
}

.entry p {
    margin: 0.25rem 0.5rem;
}

.line {
    height: 100%;
    border-radius: 0.125rem;
    background-color: black;
    width: 0.25rem;
}